body{
    background: url(../images/home/bg_white.jpg);
    margin-top: 0px;
}
img{
    width: 100%;
    height: 100%
}
a{text-decoration: none;}
p{color: #333;}
.gray_bg{
    width: 100%;
    height: 470px;
    background: url(../images/home/bg_gray2.png);
}


#main_contain{
    width: 960px;
    /*width: 1200px;*/
    height: auto;
    margin-top: -470px;
}
.top_line{width: 960px;height: 5px;background: #e50717;}
#head_bar{
    height: 96px;
    width: 960px;
}
.logo_pic{
    height: 38px;
    width: 183px;
    float: left;
    margin: 29px;
    background: url("../images/home/logo.png") no-repeat;
}
.search{
    background: url(../images/home/serch_input.png) no-repeat;
    width: 260px;
    height: 31px;
    float: right;
    margin: 32px;
    position: relative;
}
#search_btn{
    background: url(../images/home/search_icon.png) no-repeat;
    float: right;
    width: 18px;
    height: 18px;
    margin: 6px;
    margin-right: 8px;
}
.input {
    height: 23px;
    width: 210px;
    padding-left: 5px;
    line-height: 26px;
    border: none;
    border: 0;
    margin-top: 3px;
    margin-left: 2px;
    background-color: transparent;
    outline: 0;
}
.menu_head{height: 49px;width: 960px;}
.menu_tab{height: 49px;width: 123px;background: #e50717;margin-right: 3px;float: left;}
.menu_tab_on{height: 5px;width: 123px;background: #e50717;}
.menu_tab_off{height: 5px;width: 123px;background: #CCC;}
.menu_tab_text{height: 44px;width: 123px;}

.menu_tab_left{height: 49px;width: 330px;float: left;background: #e50717;}
.menu_tab_left_top{height: 5px;width: 330px;background: #CCC;}
.menu_login{width: 100px;height: 49px;float: right;}
.menu_tab_text,.menu_login{
    line-height: 40px;
    text-decoration: none;
    font-size: 14pt;
    color: #FFF;
}

.footer{
    height: 263px;
    width: 960px;
    background: #333;
}
.footer_tab{
    width: 199px;
    height: 250px;
    float: left;
    margin-top: 17px;
}
.footer_tab ul li{text-align: left;margin-top: 17px;color: #CCC;}
.footer_tab ul li a{color: #CCC; font-weight: bold;}
.footer_tab_right{
    width: 299px;
    height: 250px;
    float: left;
    margin-top: 17px;
    text-align: left;
}
.footer-line{
    height: 178px;
    width: 1px;
    float: left;
    background: #555;
    margin-top:17px;
}
.footer-title{width: 180;height: 20px;color: #b9c904;font-weight: bold;font-size: 16pt;text-align: left;margin-left: 34px;}
.link_icon{
    width: 23px;
    height: 23px;
    float: left;
}
.footer-input{margin: 10px 34px;background: #666;border: none;width: 215px;height: 25px;}
.footer-btn{color: #000;background: #b9c904; border: none;width: 76px;height: 23px;margin-top: 10px}

/*list-item*/
.item{width: 260px;height: auto;border: 2px solid #CCC;overflow: hidden;padding: 12px 10px;text-align: left;float:left;
    margin: 12px 0;
}
.item-img{width: 90px;height: 90px;background: #DDD;float: left;}
.item-title{width: 150px;height: 20px;float: left;padding-left: 10px;font-size: 25px;font-weight: bold;}
.item-text{width: 260px;height: auto;overflow: hidden;text-align: left;padding-top: 12px;}
.item-line{width: 260px;height: 1px;float: left;background: #CCC;margin-top: 12px;}
.item-bottom{width: 260px;height: 30px;float: left;margin-top: 12px;}
.item-likenum{height: 20px;width: auto;overflow: hidden;float: left;}
.item-heart{width: 12px;height: 20px;float: left;background:url(../images/home/heart_icon.png) center no-repeat;margin-right: 6px; }
.item-price{height: 20px;width: auto;overflow: hidden;float: right}

/*list-item2*/
.item2{width: 284px;height: auto;border: 1px solid #CCC;overflow: hidden;text-align: left;float:left;
    margin: 12px 0;
}
.item2_top{width: 284px;height: auto;overflow: hidden;}
.item2_top_left{width: 94px;height: auto;float: left;}
.item2_top_right{width: 190px;height: auto;float: left;}
.item-line2{width: 284px;height: 13px;float: left;background: url(../images/arrow_down.jpg);margin-top: 1px;}
.item-img2{width: 60px;height: 60px;background: #DDD;float: left;margin: 18px;}
.item-title2{width: 150px;height: auto;float: left;padding-top: 18px;font-size: 25px;font-weight: bold;}
.item-likenum2{height: 20px;width: auto;overflow: hidden;float: left;padding-top: 10px; margin-bottom: 12px;}
.item-heart2{width: 18px;height: 20px;float: left;background:url(../images/red_heart.png) center no-repeat;margin-right: 6px;}
.item-text2{width: 260px;height: auto;overflow: hidden;text-align: left;margin-left: 18px;padding: 12px 0px;line-height: 25px;}
.item-bottom2{width: 260px;height: 30px;float: left;margin-bottom: 12px;}
.item-btn{width: 80px;height: 30px;background: #ff9933;margin-left: 18px;margin-bottom: 18px;cursor: pointer;text-align: center;line-height: 30px; font-weight: bold;color: #ffffff;}

/*list-follow*/
#follow-list{width: 960px;height: auto;background: #FFF;overflow: hidden;text-align: left}
.follow-item{width: 750px;height: auto;background: #EEE;overflow: hidden;}
.follow-item-left{width: 130px;float: left;}
.follow-item-userhead{width: 100px;height: 100px;float: left;}
.follow-item-username{width: 100px;height: 20px;float: left;text-align: center}
.follow-item-right{width: 600px;float: left;}
.follow-item-title{width: 500px;height: 30px;text-align: left;float:left;}
.follow-item-time{width: 500px;height: 20px;text-align: left;float:left;}
.follow-item-text{width: 500px;height: auto;text-align: left;float:left;}
.follow-item-read{width: 500px;height: 20px;text-align: right;float:left;}

.follow-item{
     padding: 10px;
     margin: 20px 20px;
     -moz-box-shadow: 2px 2px 10px #909090;/*firefox*/
     -webkit-box-shadow: 2px 2px 10px #909090;/*safari或chrome*/
     box-shadow:2px 2px 10px #909090;/*opera或ie9*/
 }
.item2{
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);;/*firefox*/
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);;/*safari或chrome*/
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);;/*opera或ie9*/
}