
#head_area{
    width: 1177px;
    height: 614px;
    background: url(../images/menu_bg.png);
    margin-top: 50px;
}
.detail_pic{
    margin: 10px;
    width: 500px;
    height: 580px;
    float: left;
}
.detail_other{
    width: 500px;
    height: 580px;
    float: left;
    margin: 10px;
}
#text_area{
    margin: 50px 0px;
    width: 1024px;
    height: auto;
    background: #EEE;
    padding: 50px;
    text-align: left;
}
#text_area img{
    width: auto;
    height: auto;
}
#comment_area{
    margin: 50px 0px;
    width: 1024px;
    height: auto;
    background: #CCC;
    padding: 50px;
}
.comment_line{
    margin: 10px 10px;
    width: 1004px;
    height: 120px;
    background: #EEE;
}
.comment_userhead{
    width: 80px;
    height: 110px;
    float: left;
}
.comment_headimg{
    width: 80px;
    height: 80px;
    float: left;
}
.comment_userinfo{
    width: 80px;
    height: 20px;
    float: left;
}
.comment_time{
    width: 80px;
    height: 10px;
    float: left;
    font-size:10px;
}
.comment_text{
    width: 900px;
    height: auto;
    float: left;
    margin-left: 20px;
}
.comment_text p{
    text-align: left;
}
#your_comment{
    width: 1024px;
    height: 400px;
    margin: 50px 0px;
    background: url(../images/menu_bg.png);
    position: relative;
}
.your_head{
    width: 150px;
    height: 200px;
    float: left;
    position: absolute;
    z-index: 10;
    top:-30px;
    left: -30px;
}
.your_head_img{
    width: 150px;
    height: 150px;
    float: left;
}
.your_username{
    width: 150px;
    height: 50px;
    float: left;
}
.your_comment_text{
    width: 780px;
    height: 250px;
    margin: 30px 0px;
    margin-left: 150px;
    background: #BBB;
    float: left;
}
