#slide_area{width: 960px;height: 418px;padding-top:24px;position: relative;}

#slide_area,#buyers_area,#category,.list_contain{
    -moz-box-shadow: 2px 2px 10px #909090;/*firefox*/
    -webkit-box-shadow: 2px 2px 10px #909090;/*safari或chrome*/
    box-shadow:2px 2px 10px #909090;/*opera或ie9*/
    background: #FFF;
    margin-bottom: 33px;
}
#pic_slide{
    width: 912px;
    height: 396px;
}
.arrows-left{
    left: 16px;
    background: url(../images/home/arrowToLeft.png);
}
.arrows-right{
    right:15px;
    background: url(../images/home/arrowToRight.png);
}
.arrows-left,.arrows-right{
    position: absolute;
    z-index: 50;
    top:45%;
    width: 47px;
    height: 35px;
    cursor: pointer;
}
#buyers_area{
    width: 960px;
    height: 669px;
}
.tabs_head{
    width: 912px;
    height: 66px;
    margin-left: 24px;
}
.tabs_title{width: 250px;height: 66px;float: left;text-align: left;}
.tabs_title p{font-size: 20pt;font-weight: bold;}
.tabs_more{width: 100px;height: 66px;float: right;line-height: 45px;}
.tabs_more p{font-size: 14pt;font-weight: bold;color: #ff6600;}
.buyers_items{
    width: 936px;
    height: 603px;
    float: left;
    margin-left: 24px;
}
.buyers_item{
    width: 445px;
    height: 276px;
    float: left;
    margin-bottom: 20px;
    margin-right: 18px;
    border: 1px solid #CCC;
}
.buyer_top{
    width: 443px;
    height: 172px;
    border-bottom: 1px dashed #999;
}
.buyer_title{
    height: 44px;
    width: 434px;
    float: left;
    text-align: left;
    margin-left: 8px;
}
.buyer_title p{
    font-weight: 700;
}
.buyer_headpic{
    width: 115px;
    height: 115px;
    float: left;
    margin-left: 8px;
}
.buyer_top_right{
    width: 320px;
    height: 115px;
    float: left;
}
.buyer_text{height: 84px;width: 314px;text-align: left;margin-left: 8px}
.buyer_text{color: #666;font-size: 11pt;}
.buyer_likennum{width: auto;height: 31px;float: right;margin-right: 23px;line-height: 30px;color: #ff6600}
.buyer_heart{width: 12px;height: 30px;float: left;background:url(../images/home/heart_icon.png) center no-repeat;margin-right: 6px; }
.buyer_likenum{width: auto;height: 30px;float: left;margin-left: 3px;line-height: 30px;color: #ff6600}
.buyer_btn{width: 82px;height: 31px;float: right;background: url(../images/home/btn_follow.png);margin-right: 12px;cursor: pointer}
.buyer_bottom{
    width: 444px;
    height: 102px;
    margin-left: 9px;
}
.buyer_pic{
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 6px;
    margin-top: 12px;
}
#category{
    width: 960px;
    height: 740px;
}
#category_frame{
    width: 912px;
    height: 590px;
    overflow:hidden;
    position: relative;
    margin-left: 5px;
}
.category_pics{
    width: 928px;
    height: 570px;
    float: left;
}
.category_pic{
    width: 215px;
    height: 215px;
    float: left;
    background-color: #CCC;
    cursor: pointer;
}
.category_item{
    width: 215px;
    height: 272px;
    float: left;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 18px;
}
.category_name{
    width: 207px;
    height: 23px;
    float: left;
    padding-top: 5px;
    padding-left: 8px;
    font-weight: bold;
    color: #4e4e4e;
}
.category_likenum{
    width: 207px;
    height: 20px;
    float: left;
    color: #ff6600;
    font-size: 10pt;
    padding-left: 8px;
}
.arrows{height: 104px;width: 480px;float: left}
#arrow_prev{
    float: right;
    margin-right: 6px;
    width: 33px;
    height: 33px;
    cursor: pointer;
    background: url(../images/home/toLeft.png) no-repeat;
}
#arrow_next{
    float: left;
    margin-left: 6px;
    width: 33px;
    height: 33px;
    cursor: pointer;
    background: url(../images/home/toRight.png) no-repeat;
}
.menu_bar{
    width: 926px;
    /*height: 53px;*/
    height: 43px;
    background: #fafafa;
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #CCC;
    float: left;
    margin-bottom: 10px;
}
.border-left{width: 5px;height: 45px;float: left;background: url(../images/home/border_left.png) no-repeat;margin-left: 12px;}
.border-right{width: 5px;height: 45px;float: left;background: url(../images/home/border_right.png) no-repeat}
.menu_head2{margin-top: 14px;margin-left: 25px;text-align: left;}
.menu_head2 a{color: #e93844;font-weight: bold}
.list_contain{
    width: 960px;
    height: auto;
    overflow: hidden;
    padding-top: 20px;
}
.list_all{
    width: 960px;
    height: auto;
    margin-left: 15px;
    margin-top: 25px;
    padding-bottom: 20px;
}
.list_item{
    float: left;
    width: 215px;
    height: 276px;
    margin: 10px 8px;
    border: 1px solid #cfcfcf;
}
.item_pic{
    width: 200px;
    height: 200px;
    margin: 7px;
    position: relative;
}
.item_userhead{width: 45px;height: 45px;float: left;margin: 8px;}
.item_text{width: 152px;height: 45px;float: right;margin-top: 8px;text-align: left}
.item_text_group{width: 152px;height: 28px;float: right;text-align: left;color: #333;font-weight: 900}
.item_text_title{width: 152px;height: 17px;float: right;text-align: left;color: #666;font-weight: 700;font-size: 11pt}
.item_hover_tab{
    background: url(../images/home/hover_tab_full.png) no-repeat;
    width: 230px;
    height: 63px;
    position: absolute;
    z-index: 5;
    left:-15px;
    top:72px;
    display: none;
}
.item_like_tab{
    width: 85px;
    height: 37px;
    margin-top: 10px;
    float: left;
    margin-left: 30px;
    line-height: 30px;
    /*border:1px;*/
}
.item_save_tab{
    width: 85px;
    height: 37px;
    margin-top: 10px;
    /*border:1px;*/
    float: left;
    line-height: 30px;
}
.inner_icon{
    width: 18px;
    height: 20px;
    float: left;
    margin: 5px;
    cursor: pointer;
}
.item_new_tab{
    width: 89px;
    height: 92px;
    position: absolute;
    z-index: 4;
    top:-5px;
    left:-5px;
    background: url(../images/home/new_tab.png);
}