#post_list_contain{width: 1200px;height: auto;overflow: hidden;font-family: '幼圆';background: url(../images/post_list_bg.jpg);color: #666;}
.contain_center{width: 960px;}
.buyer_big_title{width: 960px;height: 45px;border-bottom: 1px solid #CCC;
    margin-top: 100px;text-align: left;margin-bottom: 25px;
    color: #ffa347;font-size: 30pt;font-weight: 800;
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);;/*firefox*/
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);;/*safari或chrome*/
    box-shadow:0 3px 5px rgba(0, 0, 0, 0.1);;/*opera或ie9*/
}
.contain_left{width: 245px;float: left;text-align: left;}
.contain_right{width: 715px;float: left;text-align: left;}
.buyer_head{width: 150px;height: 150px;padding: 7px;float: left;background: #FFF;position: relative;}
.buyer_likenum_tab{width: 55px;height: 27px;background: url(../images/list_likenum_icon.png);position: absolute;z-index: 20;left:-5px;top:5px;padding-left: 28px;line-height: 25px;}
.buyer_intro{width: 235px;text-align: left;padding: 20px 0;}
.buyer_left_tabs{width: 235px;}

.item_contain_all{width: 715px;margin-bottom: 20px;padding: 10px 0;}
.item_contain{background: #FFF;width: 626px;float: left;padding-top: 10px;}
.item_contain_title{font-size: 18pt;font-weight: bold;color: #777;}
.item_contain_text{}
.item_contain_tabs_icon{background: url(../images/list_tabs_icon.png) no-repeat center;width: 10px;height: 21px;float: left;}
.item_contain_tabs ul{list-style: none;margin: 0;margin-left:-30px;float: left}
.item_contain_tabs li{display: list-item;text-align: -webkit-match-parent;float: left;margin-right: 8px;}
.item_contain_tabs li a,.item_contain_readmore{color: #cc3333}
.item_contain_readmore{width: 500px;float: right;text-align: right;padding-right: 15px;margin-bottom: 7px;}
.item_contain_time{width: 500px;float: right;text-align: right;padding-right: 15px;padding-bottom: 10px;}
.item_like_num{width: 88px;height: 65px;float: left;background: url(../images/item_like_shape.png) no-repeat center;text-align: center;line-height: 52px;margin-left: 1px;}
.item_like_icon{width: 16px;height: 13px;background: url(../images/white_heart.png) no-repeat center;float: left;margin: 20px 10px}

.item_contain_title,.item_contain_text,.item_contain_tabs{
    width: 586px;padding: 10px 20px;pafloat: left;
}

.item_contain_text,.contain_center,.contain_left, .contain_right,.buyer_intro,.buyer_left_tabs,.item_contain,.item_contain_all{
    height: auto;overflow: hidden;

}
.item_contain{
    -moz-box-shadow: 1px 2px 5px #909090;/*firefox*/
    -webkit-box-shadow: 1px 2px 5px #909090;/*safari或chrome*/
    box-shadow:1px 2px 5px #909090;/*opera或ie9*/
}

.arrows{height: 104px;width: 305px;float: left}
.prev_disable{
    background: url(../images/list_left_disable.png) no-repeat;
}
.prev_active{
    background: url(../images/list_left.png) no-repeat;
}
#arrow_prev{
    float: right;
    margin-right: 6px;
    width: 55px;
    height: 55px;
    cursor: pointer;
    /*background: url(../images/list_left.png) no-repeat;*/
}
.next_disable{
    background: url(../images/list_right_disable.png) no-repeat;
}
.next_active{
    background: url(../images/list_right.png) no-repeat;
}
#arrow_next{
    float: left;
    margin-left: 6px;
    width: 55px;
    height: 55px;
    cursor: pointer;
    /*background: url(../images/list_right.png) no-repeat;*/
}
.feed_main_contain{width: 960px;height: auto;overflow: hidden;margin-bottom: 100px;}
.feed_item{margin-bottom: 22px;font-size: 11pt}
.feed_itemlist,.feed_item{width: 726px;}
.feed_itemlist,.feed_item,.feed_item_left,.feed_item_right,.feed_item_shrink,.feed_item_spread,.item_shrink_text{height: auto;overflow: hidden;text-align: left;float: left;}
.feed_item_left{width: 100px;}
.feed_item_right{width: 626px;background: #fff;padding-bottom: 18px;}
.feed_buyerhead{width: 100px;height: 100px;}
.feed_item_title{font-size: 18pt;font-weight: bold;padding-top: 18px;padding-left: 20px}
.feed_item_title,.feed_item_author{width: 580px;height: auto;}
.feed_item_author{width: auto;height: 20px;float: left;overflow: hidden;padding: 18px 23px;font-size: 12pt;padding-bottom: 0}
.feed_item_tabs_icon{background: url(../images/tabs_icon_gray.png) no-repeat center;width: 10px;height: 21px;float: left;margin-left: 22px;}
.ul-left{list-style: none;margin: 0;margin-left:-30px;float: left}
.feed_item_tabs li{display: list-item;text-align: -webkit-match-parent;float: left;margin-right: 8px;}
.feed_item_tabs li a,.item_contain_readmore{color: #999}
.ul-right{
    list-style: none;
    float: right;
    margin: 0;
    margin-right: 20px;
}
ul img{width: auto;height: auto;}

.feed_item_shrink,.feed_item_spread{width: 581px;margin: 18px 22px;}
.item_shrink_cover{width: 180px;height: auto;float: left;}
.item_shrink_text{width:390px;margin-left: 10px;}
.item_shrink_readmore,.item_spread_readmore{width: 300px;float: right;text-align: right;padding-right: 15px;margin-bottom: 7px;cursor: pointer;color: #cc3333}

.feed_item_spread{display: none;}
.item_spread_cover{}
.item_spread_text{width:580px;}

.feed_right{width: 224px;float: left;height: auto;overflow: hidden;margin-left: 10px;}
.feed_right ul{list-style: none;margin: 0;padding-top: 20px;padding-bottom: 20px;width: 234px;}
.feed_right li{text-align: left;margin-top:10px;margin-bottom: 10px; color: #333;}
.feed_right li a{color: #666;}
