.fenye_area{
    width: 1024px;
    height: 50px;
    text-align: right;
}
#category_head{
    width: 1177px;
    height: 200px;
    background: #CCC;
    margin-bottom: 20px;
}
.category_head_pic{
    width: 200px;
    height: 180px;
    float: left;
    margin: 10px;
}

.list_contain{
    width: 1177px;
    height: auto;
}
.list_item_o{
    float: left;
    width: 323px;
    height: 438px;
    margin-top: 28px;
    background: #EEE;
}

/*user.html*/
.user_left{
    width: 200px;
    height: 800px;
    float: left;
    background: #DDD;
}
.data_right{
    width: 977px;
    height: 800px;
    float: left;
    background: url(../images/head_bg.png);
}
