{% extends 'base.html' %}
{% load followed %}

{% block content %}
<h1>搜索结果</h1>

    <table class="result_table border_style" width="1050" rules="rows" cellspacing="0">
        <thead>
            <tr>
                <td width="130">最低价</td>
                <td width="130">品名</td>
                <td width="150">牌号</td>
                <td width="200">规格</td>
                <td width="250">最低价店铺</td>
                <td >同种商品</td>
            </tr>
        </thead>
        <tbody>
        {% for meta in result %}
        <tr class="result_item">
            <td>￥{{ meta.best_offer.price|price }}</td>
            <td>{{ meta.model_tags|default:"待定" }}</td>
            <td>{{ meta.trademark_tags|default:"待定" }}</td>
            <td>{{ meta.best_offer.spec|default:"待定" }}</td>
            <td>
                <a href="/store/{{ meta.best_offer.store_name }}">
                    {{ meta.best_offer.store_name}}
                </a>
            </td>
            <td>{{ meta.products|length }}件</td>
        </tr>
        <tr class="hidden">
            <td colspan="6">
                <br/>
                {% for product in meta.products %}
                    {% include 'gadgets/product_large.html' with product=product %}
                {% endfor %}
                <div class="clear" />
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


    <div id="save_dialog" class="hidden">
        {% include 'lightboxes/save.html' %}
    </div>

    <div id="tag_dialog" class="hidden">
        {% include 'lightboxes/tag.html' %}
    </div>

<script>
    $(document).ready(function(){
        function toggle_detail()    {
            $(this).toggleClass('hide_detail');
        }

        $('.product_middle').mouseenter(toggle_detail);
        $('.product_middle').mouseleave(toggle_detail);

        $('.result_item').click(function(){
            $(this).next().toggleClass('hidden');
            $(this).toggleClass('expanded')
        });

        $('.tag_button').click(function(){
            $('#tag_dialog').dialog({
                modal: true,
                title: '标记中...',
                width: 375
            });
        });


    });
</script>


{% endblock %}
