<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
    <link href="../static/css/base.css" type="text/css" rel="stylesheet" />
    <link href="../static/css/detail.css" type="text/css" rel="stylesheet" />
</head>
<body>
<center>
    <div id="main_contain">
        <!--<div id="head_bar" style="position: absolute;">-->
            <!--<div class="div_icon"></div>-->
            <!--<div class="search" style="position:relative;z-index:10">-->
                <!--<label for="search" style="position:absolute;top:9px;left:20px;z-index:5;color: #333;">我点累了，想搜一搜</label>-->
                <!--<input type="text" class="input" name="search" id="search"><a href="#"><div id="search_left"></div></a>-->
            <!--</div>-->
            <!--<div class="menu_head">-->
                <!--<a href="#">首页</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;-->
                <!--<a href="#">推荐</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;-->
                <!--<a href="#">我收藏的</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;-->
                <!--<a href="#">登录</a>-->
            <!--</div>-->
        <!--</div>-->
        <div id="head_area">
            <div class="detail_pic"><img src="../static/images/pic_5.png" alt=""/></div>
            <div class="detail_other">
                <div><h1>title</h1></div>
                <div><h5>author</h5></div>
                <div><h5>time</h5></div>
            </div>
        </div>

        <div id="text_area"><div><p>text</p></div></div>
        <div id="comment_area">
            <div class="comment_line">
                <div class="comment_userhead">
                    <div class="comment_headimg"><img src="../static/images/save_icon.png" alt=""/></div>
                    <div class="comment_userinfo">test</div>
                    <div class="comment_time">time</div>
                </div>
                <div class="comment_text"><p>comment1</p></div>
            </div>
            <div class="comment_line">
                <div class="comment_userhead">
                    <div class="comment_headimg"><img src="../static/images/save_icon.png" alt=""/></div>
                    <div class="comment_userinfo">test</div>
                    <div class="comment_time">time</div>
                </div>
                <div class="comment_text"><p>comment2</p></div>
            </div>
            <div class="comment_line">
                <div class="comment_userhead">
                    <div class="comment_headimg"><img src="../static/images/save_icon.png" alt=""/></div>
                    <div class="comment_userinfo">test</div>
                    <div class="comment_time">time</div>
                </div>
                <div class="comment_text"><p>comment3</p></div>
            </div>
        </div>
        <div id="your_comment">
            <form action="/comment/add/" method="post" >
                {% csrf_token %}
                user_id:<input type="text" name="user_id"/>
                post_id:<input type="text" name="post_id"/>
                <div class="your_comment_text">
                    <textarea rows="16" cols="100" name="text" style="border: 3px #FFF; background: transparent"></textarea>
                </div>
                <div style="float: right; width: 1000px"><input type="submit" value="提交"/></div>
            </form>

        </div>
        <div class="footer">
            <div class="footer-line"></div>
            <div>注册买买提，每天美食多一点！&nbsp;&nbsp;<a href="#" style="text-decoration: none;"><span style="color: red;font-size: 15pt;font-weight: 100;">现在注册!>></span></a></div>
            <div style="margin-left: 480px;margin-top: 10px;">
                <div class="link_icon"></div>
                <div class="link_icon"></div>
                <div class="link_icon"></div>
            </div>
        </div>
    </div>
</center>

</body>
</html>