<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>首页</title>
    <link href="/static/css/base.css" type="text/css" rel="stylesheet" />
    <link href="/static/css/home.css" type="text/css" rel="stylesheet" />
    <link href="/static/css/nivo-slider.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/themes/default/default.css" type="text/css" media="screen" />
    <script src="/static/js/jquery-1.9.0.min.js"></script>

    <script type="text/javascript" src="/static/js/jquery.nivo.slider.js"></script>
    <script type="text/javascript" language="javascript" src="/static/js/jquery.carouFredSel-6.2.0-packed.js"></script>
    <script type="text/javascript" language="javascript" src="/static/js/helper-plugins/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" language="javascript" src="/static/js/helper-plugins/jquery.touchSwipe.min.js"></script>
    <script type="text/javascript" language="javascript" src="/static/js/helper-plugins/jquery.transit.min.js"></script>
    <script type="text/javascript" language="javascript" src="/static/js/helper-plugins/jquery.ba-throttle-debounce.min.js"></script>
    <!--<script type="text/javascript">-->
        <!--$(window).load(function() {-->
            <!--$('#pic_slide').nivoSlider();-->
        <!--});-->
    <!--</script>-->
</head>
<body>
<center>
  <div id="main_contain">
      <div id="head_bar">
          <div class="div_icon"></div>
          <div class="search" style="position:relative;z-index:10">
              <label for="search" style="position:absolute;top:9px;left:20px;z-index:5;color: #333;">我点累了，想搜一搜</label>
              <input type="text" class="input" name="search" id="search"><a href="#"><div id="search_left"></div></a>
          </div>
          <div class="menu_head">
          <a href="#">首页</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
          <a href="#">推荐</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
          <a href="#">我收藏的</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
          <a href="#">登录</a>
          </div>
      </div>
      <div id="pic_slide" class="nivoSlider">
          {% for advertisement in advertisements %}
            <img src="/static/media/{{advertisement.image}}"/>
          {% endfor %}
      </div>

      <div id="category">
          <div id="arrow_prev"></div>
          <div id="category_frame">
          <div class="category_pics">
              <div class="category_pic">
                  <img src="../static/images/fenlei_1.jpg" alt="">
                  <div class="category_name">家常小炒</div>
              </div>
              <div class="category_pic">
                  <img src="../static/images/fenlei_2.jpg" alt="">
                  <div class="category_name">西式甜点</div>
              </div>
              <div class="category_pic">
                  <img src="../static/images/fenlei_3.jpg" alt="">
                  <div class="category_name"></div>
              </div>
              <div class="category_pic">
                  <img src="../static/images/fenlei_4.jpg" alt="">
                  <div class="category_name"></div>
              </div>
              <div class="category_pic">
                  <img src="../static/images/fenlei_5.jpg" alt="">
                  <div class="category_name"></div>
              </div>
              <div class="category_pic">
                  <img src="../static/images/fenlei_6.jpg" alt="">
                  <div class="category_name"></div>
              </div>
              <div class="category_pic">
                  <img src="../static/images/fenlei_7.jpg" alt="">
                  <div class="category_name"></div>
              </div>
              <div class="category_pic">
                  <img src="../static/images/fenlei_8.jpg" alt="">
                  <div class="category_name"></div>
              </div>
          </div>
          <div class="category_pics">
              <div class="category_pic1"></div>
              <div class="category_pic1"></div>
              <div class="category_pic1"></div>
              <div class="category_pic1"></div>
              <div class="category_pic1"></div>
              <div class="category_pic1"></div>
              <div class="category_pic1"></div>
              <div class="category_pic1"></div>
          </div>
          <div class="category_pics">
              <div class="category_pic2"></div>
              <div class="category_pic2"></div>
              <div class="category_pic2"></div>
              <div class="category_pic2"></div>
              <div class="category_pic2"></div>
              <div class="category_pic2"></div>
              <div class="category_pic2"></div>
              <div class="category_pic2"></div>
          </div>
          </div>
          <div id="arrow_next"></div>
      </div>
      <div class="menu_bar">
          <div class="menu_head">
          <a href="#">海鲜水产</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
          <a href="#">时鲜蔬果</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
          <a href="#">海鲜水产</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
          <a href="#">海鲜水产</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
          <a href="#">时鲜蔬果</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
          <a href="#">海鲜水产</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
          <a href="#">时鲜蔬果</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
          <a href="#">海鲜水产</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
          <a href="#">海鲜水产</a>
          </div>
      </div>
      <div class="list_contain">
          <div class="list_all">
              {% for post in posts %}
                  <div class="list_item">
                      <div class="item_pic">
                          <img src="/static/media/{{post.cover_image}}" alt=""/>
                          <div class="item_like_tab">
                              <div class="item_like_inner_tab">
                                  <div class="inner_icon"><img src="/static/images/like_icon.png" alt=""/></div>
                                  <p style="position:relative;color:#333;">1111</p>
                              </div>
                          </div>

                          <div class="item_save_tab">
                              <div class="item_save_inner_tab">
                                  <div class="inner_icon"><img src="/static/images/save_icon.png" alt=""/></div>
                                  <p style="position:relative;color:white;">1111</p>
                              </div>
                          </div>
                          <div class="item_desc"><span style="position:relative;color:white;">
                            {{post.text}}
                          </span>
                          </div>
                      </div>
                      <!--<div style="text-align: center">..............................................................</div>-->
                      <div style="text-align: left;margin-left: 10px;">
                      <p><a href="/post/detail/{{post.id}}">{{post.title}}</a></p>
                      <p>{{post.time}}</p>
                      </div>
                  </div>
              {% endfor %}
              <!--<div class="list_item"></div>-->
              <!--<div class="list_item"></div>-->
              <!--<div class="list_item"></div>-->
              <!--<div class="list_item"></div>-->
              <!--<div class="list_item"></div>-->
              <!--<div class="list_item"></div>-->
              <!--<div class="list_item"></div>-->
              <!--<div class="list_item"></div>-->
              <!--<div class="list_item"></div>-->
              <!--<div class="list_item"></div>-->
              <!--<div class="list_item"></div>-->
          </div>
      </div>
      <div class="footer">
          <div class="footer-line"></div>
          <div>注册买买提，每天美食多一点！&nbsp;&nbsp;<a href="#" style="text-decoration: none;"><span style="color: red;font-size: 15pt;font-weight: 100;">现在注册!>></span></a></div>
          <div style="margin-left: 480px;margin-top: 10px;">
          <div class="link_icon"></div>
          <div class="link_icon"></div>
          <div class="link_icon"></div>
          </div>
      </div>
  </div>
</center>
<script src="/static/js/home.js"></script>
</body>
</html>