<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>美食列表</title>
    <link href="/static/css/base2.css" type="text/css" rel="stylesheet" />
    <link href="/static/css/home2.css" type="text/css" rel="stylesheet" />
    <script src="/static/js/jquery-1.9.0.min.js"></script>
    <script src="/static/js/waterfall.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('div.item-text').each(function(){
                var text = $(this).html();
                text = text.substr(0,text.length/2);
                $(this).html('');
                $(this).append(text);
            });

        });
    </script>
</head>
<body>
<div class="gray_bg"></div>
<center>

<div id="main_contain">
<div class="top_line"></div>
<div id="head_bar">
    <div class="logo_pic"></div>
    <div class="search">
        <label for="search" style="position:absolute;top:6px;left:20px;z-index:5;color: #333;">我点累了，想搜一搜</label>
        <input type="text" class="input" name="search" id="search">
        <a href="#"><div id="search_btn"></div></a>
    </div>
</div>
<div class="menu_head">
    <div class="menu_tab">
        <div class="menu_tab_off"></div>
        <a href=""><div class="menu_tab_text">首页</div></a>
    </div>
    <div class="menu_tab">
        <div class="menu_tab_off"></div>
        <a href=""><div class="menu_tab_text">买手推荐</div></a>
    </div>
    <div class="menu_tab">
        <div class="menu_tab_off"></div>
        <a href=""><div class="menu_tab_text">热门标签</div></a>
    </div>
    <div class="menu_tab">
        <div class="menu_tab_on"></div>
        <a href=""><div class="menu_tab_text">最新美食</div></a>
    </div>
    <div class="menu_tab">
        <div class="menu_tab_off"></div>
        <a href=""><div class="menu_tab_text">我收藏的</div></a>
    </div>
    <div class="menu_tab">
        <div class="menu_tab_off"></div>
        <a href=""><div class="menu_tab_text">我关注的</div></a>
    </div>
    <div class="menu_tab_left" style="width: 204px">
        <div class="menu_tab_left_top" style="width: 204px"></div>
        <a href=""><div class="menu_login">登录</div></a>
    </div>
</div>
<!--<div class="fenye_area">-->
<!--{% if has_previous %}-->
    <!--<a href="/post/listing/{{previous_page_number}}">上一页</a>-->
    <!--{% endif %}-->
<!--第{{page}}页-->
<!--{% if has_next %}-->
    <!--<a href="/post/listing/{{next_page_number}}">下一页</a>-->
    <!--{% endif %}-->
<!--</div>-->
<div class="list_contain">
    <div class="border-left"></div>
    <div class="menu_bar">
        <div class="menu_head2">
            <a href="#" style="color: #b9c904">海鲜水产</a>&nbsp;&nbsp;&nbsp;
            <a href="#">时鲜蔬果</a>&nbsp;&nbsp;&nbsp;
            <a href="#">海鲜水产</a>&nbsp;&nbsp;&nbsp;
            <a href="#">海鲜水产</a>&nbsp;&nbsp;&nbsp;
            <a href="#">时鲜蔬果</a>&nbsp;&nbsp;&nbsp;
            <a href="#">海鲜水产</a>&nbsp;&nbsp;&nbsp;
            <a href="#">海鲜水产</a>&nbsp;&nbsp;&nbsp;
            <a href="#">时鲜蔬果</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/post/listing/1" style="color: #ff6600">更多&nbsp;+</a>
        </div>
    </div>
    <div class="border-right"></div>
    <div class="list_all" style="margin-left: 8px">
        {% for post in post_list_0 %}
        <div class="item">
            <div class="item-img"><img src="/static/media/{{post.cover_image}}"/>
            </div>
            <div class="item-title">{{ post.title }}</div>
            <div class="item-text">
                <p>{{post.text}}</p>                    </div>
            <div class="item-line"></div>
            <div class="item-bottom">
                <div class="item-likenum"><div class="item-heart"></div> 12400</div>
                <div class="item-price">RMB 55.40</div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
<div class="footer">
    <div class="footer_tab">
        <div class="footer-title">关于我们</div>
        <ul>
            <li><a href="">关于买买提</a></li>
            <li><a href="">加入我们</a></li>
            <li><a href="">合作联系</a></li>
            <li><a href="">网站地图</a></li>
        </ul>
    </div>
    <div class="footer-line"></div>
    <div class="footer_tab">
        <div class="footer-title">友情链接</div>
        <ul>
            <li><a href="">嗨淘网</a></li>
            <li><a href="">乐买网</a></li>
            <li><a href="">哈秀时尚购物</a></li>
            <li><a href="">乐蜂网</a></li>
        </ul>
    </div>
    <div class="footer-line"></div>
    <div class="footer_tab">
        <div class="footer-title">关注我们</div>
        <ul>
            <li><div class="link_icon"><img src="/static/images/home/xinlang_logo.png" alt=""></div> <a href="">新浪微博</a></li>
            <li><div class="link_icon"><img src="/static/images/home/tengxun_logo.png" alt=""></div><a href="">腾讯微博</a></li>
            <li><div class="link_icon"><img src="/static/images/home/renren_logo.png" alt=""></div><a href="">人人网</a></li>
        </ul>
    </div>
    <div class="footer-line"></div>
    <div class="footer_tab_right">
        <div class="footer-title">加入我们</div>
        <div style="margin-left: 34px;color: #CCC;margin-top: 14px;">你的姓名：</div>
        <input type="text" id="yourname" name="yourname" class="footer-input">
        <div style="margin-left: 34px;color: #CCC;">你的邮箱：</div>
        <input type="text" id="youremail" name="youremail" class="footer-input">
        <div style="float: right;margin-right: 90px"><button style="color: #000;background: #b9c904">发送</button></div>
    </div>

</div>
</div>
</center>

<script>

    var opt={
        getResource:function(index,render){//index为已加载次数,render为渲染接口函数,接受一个dom集合或jquery对象作为参数。通过ajax等异步方法得到的数据可以传入该接口进行渲染，如 render(elem)
            if(index<=8)
            {

                var html='';
                switch (index)
                {
                    case 1:


                            html +=
                                    '{% for post in post_list_1 %}'+
                                    '<div class="item">' +
                                            '<div class="item-img"><img src="/static/media/{{post.cover_image}}"/></div>' +
                                            '<div class="item-title">{{post.title}}</div>' +
                                            '<div class="item-text">' +
                                            '<p>{{post.text}}</p>' +
                                            '</div>' +
                                            '<div class="item-line"></div>' +
                                            '<div class="item-bottom">' +
                                            '<div class="item-likenum">' +
                                            '<div class="item-heart"></div> 12400' +
                                            '</div>' +
                                            '<div class="item-price">RMB 55.40</div>' +
                                            '</div>' +
                                            '</div>'+
                                    '{% endfor %}'
                        break;
//                    case 2:
//                       {% for post in post_list_2 %}
//                        html +=
//
//                                '<div class="item">' +
//                                        '<div class="item-img"><img src="/static/media/{{post.cover_image}}"/></div>' +
//                                        '<div class="item-title">{{post.title}}</div>' +
//                                        '<div class="item-text">' +
//                                        '<p>{{post.text}}</p>' +
//                                        '</div>' +
//                                        '<div class="item-line"></div>' +
//                                        '<div class="item-bottom">' +
//                                        '<div class="item-likenum">' +
//                                        '<div class="item-heart"></div> 12400' +
//                                        '</div>' +
//                                        '<div class="item-price">RMB 55.40</div>' +
//                                        '</div>' +
//                                        '</div>'
//                       {% endfor %}
//                        break;
//                    case 3:
//                       {% for post in post_list_3 %}
//                        html +=
//
//                                '<div class="item">' +
//                                        '<div class="item-img"><img src="/static/media/{{post.cover_image}}"/></div>' +
//                                        '<div class="item-title">{{post.title}}</div>' +
//                                        '<div class="item-text">' +
//                                        '<p>{{post.text}}</p>' +
//                                        '</div>' +
//                                        '<div class="item-line"></div>' +
//                                        '<div class="item-bottom">' +
//                                        '<div class="item-likenum">' +
//                                        '<div class="item-heart"></div> 12400' +
//                                        '</div>' +
//                                        '<div class="item-price">RMB 55.40</div>' +
//                                        '</div>' +
//                                        '</div>'
//                        {% endfor %}
//                        break;
//                    case 4:
//                        {% for post in post_list_4 %}
//                        html +=
//
//                                '<div class="item">' +
//                                        '<div class="item-img"><img src="/static/media/{{post.cover_image}}"/></div>' +
//                                        '<div class="item-title">{{post.title}}</div>' +
//                                        '<div class="item-text">' +
//                                        '<p>{{post.text}}</p>' +
//                                        '</div>' +
//                                        '<div class="item-line"></div>' +
//                                        '<div class="item-bottom">' +
//                                        '<div class="item-likenum">' +
//                                        '<div class="item-heart"></div> 12400' +
//                                        '</div>' +
//                                        '<div class="item-price">RMB 55.40</div>' +
//                                        '</div>' +
//                                        '</div>'
//                        {% endfor %}
//                        break;
//                    case 5:
//                        {% for post in post_list_5 %}
//                        html +=
//
//                                '<div class="item">' +
//                                        '<div class="item-img"><img src="/static/media/{{post.cover_image}}"/></div>' +
//                                        '<div class="item-title">{{post.title}}</div>' +
//                                        '<div class="item-text">' +
//                                        '<p>{{post.text}}</p>' +
//                                        '</div>' +
//                                        '<div class="item-line"></div>' +
//                                        '<div class="item-bottom">' +
//                                        '<div class="item-likenum">' +
//                                        '<div class="item-heart"></div> 12400' +
//                                        '</div>' +
//                                        '<div class="item-price">RMB 55.40</div>' +
//                                        '</div>' +
//                                        '</div>'
//                        {% endfor %}
//                        break;
//                    case 6:
//                        {% for post in post_list_6 %}
//                        html +=
//
//                                '<div class="item">' +
//                                        '<div class="item-img"><img src="/static/media/{{post.cover_image}}"/></div>' +
//                                        '<div class="item-title">{{post.title}}</div>' +
//                                        '<div class="item-text">' +
//                                        '<p>{{post.text}}</p>' +
//                                        '</div>' +
//                                        '<div class="item-line"></div>' +
//                                        '<div class="item-bottom">' +
//                                        '<div class="item-likenum">' +
//                                        '<div class="item-heart"></div> 12400' +
//                                        '</div>' +
//                                        '<div class="item-price">RMB 55.40</div>' +
//                                        '</div>' +
//                                        '</div>'
//                        {% endfor %}
//                        break;
//                    case 7:
//                        {% for post in post_list_7 %}
//                        html +=
//
//                                '<div class="item">' +
//                                        '<div class="item-img"><img src="/static/media/{{post.cover_image}}"/></div>' +
//                                        '<div class="item-title">{{post.title}}</div>' +
//                                        '<div class="item-text">' +
//                                        '<p>{{post.text}}</p>' +
//                                        '</div>' +
//                                        '<div class="item-line"></div>' +
//                                        '<div class="item-bottom">' +
//                                        '<div class="item-likenum">' +
//                                        '<div class="item-heart"></div> 12400' +
//                                        '</div>' +
//                                        '<div class="item-price">RMB 55.40</div>' +
//                                        '</div>' +
//                                        '</div>'
//                        {% endfor %}
//                        break;
//                    case 8:
//                        break;
                }

            }
            return $(html);
        },
        auto_imgHeight:true,
        insert_type:1
    }
    $('.list_all').waterfall(opt);

</script>
<script type="text/javascript">
    window.onload = function() {
        $('div.item-text').each(function(){
            var text = $(this).html();
            text = text.substr(0,text.length/2);
            $(this).html('');
            $(this).append(text);
        });
    };
</script>
</body>
<script src="../static/js/home.js"></script>

</html>