<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>帖子列表</title>
    <link href="/static/css/bootstrap.css" type="text/css" rel="stylesheet" />
    <link href="/static/css/base2.css" type="text/css" rel="stylesheet" />
    <link href="/static/css/list.css" type="text/css" rel="stylesheet" />
    <script src="/static/js/jquery-1.9.0.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body style="background: url(/static/images/post_list_bg.jpg);">
<center>
<div id="post_list_contain">
    <div id="head_area">
        <div class="detail_logo"></div>
        <div class="zhengda_title">正大天地社交分站</div>

        <a href="/home/"><div class="head_btn_home"><div class="head_home_icon"></div> 返回首页</div></a>
        <a href=""><div class="head_btn_like"><div class ="head_like_icon"></div>关注</div></a>
        {% if user.is_active %}
        <ul class="nav pull-right">
            <li id="fat-menu" class="dropdown">
                <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">{{user}}<b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/collection/listing/{{user.id}}">我的收藏</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/feed/{{user.id}}">我的关注</a></li>
                    <!--<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>-->
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">退出登录</a></li>
                </ul>
            </li>
        </ul>
        {% endif %}
    </div>
    <div class="contain_center">
        <div class="buyer_likenum_tab">
            <div class="likenum_tab_1"></div>
            <div class="likenum_tab_2">1111111111</div>
            <div class="likenum_tab_3"></div>
        </div>
        <div class="buyer_big_title">{{author.username}}</div>
        <div class="contain_left">

            <div class="buyer_head">
                <img src="/static/images/home/buyer_head{{author.id}}.jpg" alt="">
            </div>
            <div class="buyer_intro">
                小煮妇，厨艺不精，厨龄不长，自认为味觉嗅觉还能过的去。有个小小的家，不大的厨房，一台不是很高级的相机，偶尔败家买厨具用品，最重要的是，超宅。欢迎浏览的我的最新个人网站 www.monpetitcuisine.com
            </div>
            <div class="buyer_left_tabs">
                <ul class="nav nav-pills" style="margin-left: -40px">
                    <li class="active" style="margin: 5px 0; margin-right: 5px;"><a href="#" style="background: #ff6666">标签1</a></li>
                    <li class="active" style="margin: 5px 0; margin-right: 5px"><a href="#" style="background: #ff6666">标签2</a></li>
                    <li class="active" style="margin: 5px 0; margin-right: 5px"><a href="#" style="background: #ff6666">标签3</a></li>
                    <li class="active" style="margin: 5px 0; margin-right: 5px"><a href="#" style="background: #ff6666">标签4</a></li>
                </ul> <!-- /tabs -->
            </div>
        </div>
        <div class="contain_right">
            {% for value in post_list %}
                {% for time,post in value.items%}
                    <div class="item_contain_all">
                        <div class="item_contain">
                            <a href="/post/detail/{{post.id}}"><div class="item_contain_title">{{post.title}}</div></a>
                            <div class="item_contain_text">
                                <img src="/static/media/{{post.cover_image}}" alt="" style="width:100%;margin-bottom: 20px;">
                                {{post.preview}}
                            </div>
                            <div class="item_contain_tabs">
                                <div class="item_contain_tabs_icon"></div>
                                <ul>
                                    <li><a href="#">标签1</a></li>
                                    <li><a href="#">标签2</a></li>
                                    <li><a href="#">标签3</a></li>
                                    <li><a href="#">标签4</a></li>
                                </ul>
                            </div>
                            <a href="/post/detail/{{post.id}}"><div class="item_contain_readmore">查看全文</div></a>
                            <div class="item_contain_time">{{post.time}}</div>
                        </div>
                        <div class="item_like_num">
                            <div class="item_like_icon"></div>1111
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}

            <div class="arrows">
                {% if post_list.has_previous %}
                <a href="/post/list_buyer_post/{{author.id}}/{{post_list.previous_page_number}}">
                    <div id="arrow_prev" class="prev_active"></div>
                </a>
                {% else %}
                <div id="arrow_prev" class="prev_disable"></div>
                {% endif %}
            </div>
                <div class="arrows">
                    {% if post_list.has_next %}
                    <a href="/post/list_buyer_post/{{author.id}}/{{post_list.next_page_number}}">
                        <div id="arrow_next" class="next_active"></div>
                    </a>
                    {% else %}
                    <div id="arrow_next" class="next_disable"></div>
                    {% endif %}
                </div>

        </div>

    </div>
    <div class="footer2" style="margin-top: 200px;">
        <div class="footer_tab2">
            <div class="footer-title2">关于我们</div>
            <ul>
                <li><a href="">关于买买提</a></li>
                <li><a href="">加入我们</a></li>
                <li><a href="">合作联系</a></li>
                <li><a href="">网站地图</a></li>
            </ul>
        </div>
        <div class="footer-line2"></div>
        <div class="footer_tab2">
            <div class="footer-title2">友情链接</div>
            <ul>
                <li><a href="">嗨淘网</a></li>
                <li><a href="">乐买网</a></li>
                <li><a href="">哈秀时尚购物</a></li>
                <li><a href="">乐蜂网</a></li>
            </ul>
        </div>
        <div class="footer-line2"></div>
        <div class="footer_tab2">
            <div class="footer-title2">关注我们</div>
            <ul style="list-style: none">
                <li><div class="link_icon2"><img src="/static/images/home/xinlang_logo.png" alt=""></div> <a href="">新浪微博</a></li>
                <li><div class="link_icon2"><img src="/static/images/home/tengxun_logo.png" alt=""></div><a href="">腾讯微博</a></li>
                <li><div class="link_icon2"><img src="/static/images/home/renren_logo.png" alt=""></div><a href="">人人网</a></li>
            </ul>
        </div>
        <div class="footer-line2"></div>
        <div class="footer_tab_right2">
            <div class="footer-title2">加入我们</div>
            <div style="margin-left: 34px;color: #666;margin-top: 14px;">你的姓名：</div>
            <input type="text" id="yourname" name="yourname" class="footer-input" style="background: #999">
            <div style="margin-left: 34px;color: #666;">你的邮箱：</div>
            <input type="text" id="youremail" name="youremail" class="footer-input" style="background: #999">
            <div style="float: right;margin-right: 48px"><button class="footer-btn2">发送</button></div>
        </div>

    </div>
    <div id="d-top" style="display:none; width: 70px;height: 70px; position: fixed;bottom: 50px;margin-left: 1100px;">
        <a id="d-top-a" href="#" title="回到顶部">
            <img src="/static/images/top_icon.png" alt="TOP" /></a>
    </div>

</div>
</center>
<script type="text/javascript">
    $(function(){
        var d_top=$('#d-top');
        document.onscroll=function(){
            var scrTop=(document.body.scrollTop||document.documentElement.scrollTop);
            if(scrTop>500){
                d_top.show();
            }else{
                d_top.hide();
            }
        }
        $('#d-top-a').click(function(){
            scrollTo(0,0);
            this.blur();
            return false;
        });
    });
</script>

</body>
</html>