<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>帖子列表</title>
    <link href="/static/css/base2.css" type="text/css" rel="stylesheet" />
    <link href="/static/css/list.css" type="text/css" rel="stylesheet" />
    <link href="/static/css/bootstrap.css" type="text/css" rel="stylesheet" />
    <script src="/static/js/jquery-1.9.0.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
<center>
<div id="post_list_contain">
    <div id="head_area">
        <div class="detail_logo"></div>
        <div class="zhengda_title">正大天地社交分站</div>
        <a href="/home/"><div class="head_btn_home"><div class="head_home_icon"></div> 返回首页</div></a>
        <ul class="nav pull-right">
            <li id="fat-menu" class="dropdown">
                <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">QQ糖的独白 <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">我的收藏</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">我的关注</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">退出登录</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="contain_center">
        <div class="buyer_big_title">{{user.username}}</div>
        <div class="contain_left">
            <div class="buyer_head"><img src="/static/images/home/buyer_head{{user.id}}.jpg" alt=""></div>
            <div class="buyer_intro">
                小煮妇，厨艺不精，厨龄不长，自认为味觉嗅觉还能过的去。有个小小的家，不大的厨房，一台不是很高级的相机，偶尔败家买厨具用品，最重要的是，超宅。欢迎浏览的我的最新个人网站 www.monpetitcuisine.com
            </div>
            <div class="buyer_left_tabs">
                <ul class="nav nav-pills">
                    <li class="active" style="margin: 10px 0; margin-right: 10px;"><a href="#" style="background: #ffa347">标签1</a></li>
                    <li class="active" style="margin: 10px 0; margin-right: 10px"><a href="#" style="background: #ffa347">标签2</a></li>
                    <li class="active" style="margin: 10px 0; margin-right: 10px"><a href="#" style="background: #ffa347">标签3</a></li>
                    <li class="active" style="margin: 10px 0; margin-right: 10px"><a href="#" style="background: #ffa347">标签4</a></li>
                </ul> <!-- /tabs -->
            </div>
        </div>
        <div class="contain_right">
            {% for value in post_list %}
                {% for time,post in value.items%}
                    <div class="item_contain_all">
                        <div class="item_contain">
                            <div class="item_contain_title">{{post.title}}</div>
                            <div class="item_contain_text">
                                {{post.text}}
                            </div>
                            <div class="item_contain_tabs">
                                <ul>
                                    <li><a href="#">标签1</a></li>
                                    <li><a href="#">标签2</a></li>
                                    <li><a href="#">标签3</a></li>
                                    <li><a href="#">标签4</a></li>
                                </ul>
                            </div>
                            <a href="/post/detail/{{post.id}}"><div class="item_contain_readmore">查看全文</div></a>
                            <div class="item_contain_time">{{post.time}}</div>
                        </div>
                        <div class="item_like_num">
                            <div class="item_like_icon"></div>1111
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
            <!--<div class="arrows">-->
                <!--<div id="arrow_prev" class="prev_disable"></div>-->
            <!--</div>-->
            <!--<div class="arrows">-->
                <!--<div id="arrow_next" class="next_active"></div>-->
            <!--</div>-->

        </div>

    </div>

</div>
</center>


</body>
</html>