<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>用户管理</title>
    <link href="../static/css/base.css" type="text/css" rel="stylesheet" />
    <link href="../static/css/others.css" type="text/css" rel="stylesheet" />
    <script src="../static/js/jquery-1.9.0.min.js"></script>
</head>
<body>
<center>
    <div id="main_contain">
        <div id="head_bar">
            <div class="div_icon"></div>
            <div class="search" style="position:relative;z-index:10">
                <label for="search" style="position:absolute;top:9px;left:20px;z-index:5;color: #333;">我点累了，想搜一搜</label>
                <input type="text" class="input" name="search" id="search"><a href="#"><div id="search_left"></div></a>
            </div>
            <div class="menu_head">
                <a href="#">首页</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                <a href="#">推荐</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                <a href="#">我收藏的</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                <a href="#">登录</a>
            </div>
        </div>
        <div style="width: 1177px;height: 100px;"></div>
        <div class="user_left"></div>
        <div class="data_right"></div>
    </div>
</center>
</body>
</html>