{% spaceless %}
<!DOCTYPE html>
<html ng-app="maimaiti">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>买买提</title>

    <link href="static/css/bootstrap.css" type="text/css" rel="stylesheet" />
    <script src="/static/js/lib/angular.js"></script>

    <script src="/static/js/buyer.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/home.js"></script>
    <script src="/static/js/menu.js"></script>
    <script src="/static/js/post.js"></script>
    <script src="/static/js/slide.js"></script>
</head>
<body>

<div ng-view>

</div>

</body>
</html>
{% endspaceless %}
