{% spaceless %}
<!DOCTYPE html>
<html ng-app="maimaiti">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>买买提</title>

{#    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>#}

    <link href="static/css/bootstrap.css" type="text/css" rel="stylesheet" />
    <link href="static/css/base2.css" type="text/css" rel="stylesheet" />
    <link href="static/css/home2.css" type="text/css" rel="stylesheet" />
    <link href="static/css/nivo-slider.css" type="text/css" rel="stylesheet" />
    <link href="static/css/themes/default/default.css" type="text/css" rel="stylesheet" media="screen" />

    <script src="/static/js/lib/jquery-1.9.0.min.js"></script>
    <script src="/static/js/lib/bootstrap.min.js"></script>
    <script src="/static/js/lib/waterfall.js"></script>
    <script src="/static/js/lib/jquery.nivo.slider.js"></script>
    <script src="/static/js/lib/angular.js"></script>

    <script src="/static/js/common.js"></script>
</head>
<body>

<div ng-view>

</div>

<div ng-include="'/static/modal.html'"></div>

</body>
</html>
{% endspaceless %}
