{% load future %}
{% load followed %}
<div id="div_product_id_{{ product.id }}" class="float_left product_middle hide_detail border_style" >

        <a href="{% url 'product.views.product_detail' product.id %}">

        <p>{{ product.model }}</p>
        <p>{{ product.trademark }}</p>
        <p>{{ product.spec }}</p>
        <p>{{ product.origin }}</p>
        <p>{{ product.producer|truncatechars:10 }}</p>
        <p>{{ product.stock_location|truncatechars:15 }}</p>
        </a>

    <div class="cover">
        <div class="info">
            <p>￥{{ product.price|price  }}</p>
            <p>{{ product.store_name|truncatechars:14 }}</p>
            <p>TEL: {{ product.store.phone|default:"未知号码" }}</p>
        </div>
    </div>
    </a>

    <div class="tag_button" product_id='{{ product.id }}'>
        <div class="info">
            <p>告诉</p>
            <p>朋友</p>
        </div>
    </div>

    <div class="save_button" product_id='{{ product.id }}'>
        <div class="info">
            <p>保存</p>
            <p>{{ product.saves|length }}</p>
        </div>
    </div>
</div>