
<!DOCTYPE html>
<html lang="zh-cn" >
<head>
    <title>增加 事件|基建管理</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->
    <script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/calendar.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>

    <meta name="robots" content="NONE,NOARCHIVE" />
</head>
<body class="project-event change-form">
<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">
            <h1 id="site-name">基建管理</h1>
        </div>
        <div id="user-tools">
            欢迎
            <a href="/admin/doc/">文档</a> /
            <a href="/admin/password_change/">修改密码</a> /
            <a href="/admin/logout/">注销</a>
        </div>
    </div>
    <!-- END Header -->
    <!-- Content -->
    <div id="content" class="colM">
        <h1>选择添加</h1>
        <div id="content-main">
            <form enctype="multipart/form-data" action="add_node" method="post" id="event_form"><div style='display:none'></div>
                {% csrf_token %}
                <input name="parent" type="hidden" value="{{ parent }}">
                <input name="parenttype" type="hidden" value="{{ parenttype }}">
                <div>
                    <fieldset class="module aligned ">
                      <div class="form-row field-project">
                            <div>
                                <label for="id_event" class="required">
                                    {% ifequal type 1 %}
                                        合同:
                                    {% endifequal %}
                                    {% ifequal type 2 %}
                                        领料:
                                    {% endifequal %}
                                    {% ifequal type 3 %}
                                        派工:
                                    {% endifequal %}
                                    {% ifequal type 4 %}
                                        事件:
                                    {% endifequal %}
                                </label>
                                <select name="item" id="id_event">
                                    {% for item in projectitem %}
                                        <option value="{{ item.id }}">   {{ item.date }},{{ item.name }}</option>
                                    {% endfor %}
                                </select>
{#                                <a href="/admin/project/event/add/" class="add-another" id="add_id_event" onclick="return showAddAnotherPopup(this);"> <img src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="添加另一个"/></a>#}
{#                                {% ifequal type 0 %}#}
{#                                    <a href="/admin/project/project/add/" class="add-another" id="add_id_event" onclick="return showAddAnotherPopup(this);"> <img src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="添加另一个"/></a>#}
{#                                {% endifequal %}#}
                                {% ifequal type 1 %}
                                    <a href="/admin/project/contract/add/" class="add-another" id="add_id_event" onclick="return showAddAnotherPopup(this);"> <img src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="添加另一个"/></a>
                                {% endifequal %}
                                {% ifequal type 2 %}
                                    <a href="/admin/project/claimmaterial/add/" class="add-another" id="add_id_event" onclick="return showAddAnotherPopup(this);"> <img src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="添加另一个"/></a>
                                {% endifequal %}
                                {% ifequal type 3 %}
                                    <a href="/admin/project/assignwork/add/" class="add-another" id="add_id_event" onclick="return showAddAnotherPopup(this);"> <img src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="添加另一个"/></a>
                                {% endifequal %}
                                {% ifequal type 4 %}
                                    <a href="/admin/project/event/add/" class="add-another" id="add_id_event" onclick="return showAddAnotherPopup(this);"> <img src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="添加另一个"/></a>
                                {% endifequal %}
                            </div>
                        </div>
                    <div class="submit-row">
                        <input type="submit" value="保存" class="default" name="_save" />
                    </div>
                    <script type="text/javascript">document.getElementById("id_project").focus();</script>
                    <script type="text/javascript">
                        (function($) {
                            var field;
                        })(django.jQuery);
                    </script>
                </div>
            </form></div>
        <br class="clear" />
    </div>
    <!-- END Content -->
    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
