body    {
    margin: 0;
    font-size: 14px;
}

img {
    border: 0;
}

a {
    text-decoration: none;
    color: #777
}

a:hover {
    color: #ff4500;
}

ul  {
    list-style: none;
    margin: 0;
    padding: 0;
}

li  {
    float: left;
}

input[type="text"], input[type="password"], input[type="button"], textarea, select {
    width: 200px;
    padding: 6px 10px;
}

input[type="file"]  {
    display: none;
}

textarea    {
    width: 320px;
    height: 80px;
}

select  {
    height: 150px;
}

.top    {
    min-height: 40px;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

.container  {
    width: 1070px;
    margin: 0 auto;
}

.clear  {
    clear: both;
}

.float_left {
    float: left;
}

.float_right    {
    float: right;
}

.logo   {
    float: left;
    margin-top: 10px;
    margin-right: 40px;
}

.menu {
    float: left;
    line-height: 40px;
}

.menu_item  {
    margin-right: 18px;
}

.search_box {
    margin-left: 40px;
    width: 240px;
    padding: 6px 10px;
}

.search_button  {
    position: relative;
    left: -25px;
    top: 2px;
    color: transparent;
    border: 0;
    background: url(http://cdn-assets.wanelo.com/assets/magnifier.png) no-repeat 0 0
}

.link_submit    {
    border: 0;
    background: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.block_submit   {
    border: 0;
    background: #0097d8;
    color: white;
    cursor: pointer;
    padding: 0 10px;
    margin: 0 auto;
    font-size: 18px;
    width: 160px;
    height: 40px;
}

a, .link_submit  {
    color: #777;
    font-size: 14px;
}

a:hover, .link_submit:hover {
    color: #ff4500;
}

.error  {
    background: red;
    margin: 10px auto;
    padding: 5px;
    color: white;
    font-style: italic;
    border-radius: 3px;
    height: 20px;
    line-height: 20px;
}

.url_input  {
    width: 450px!important;
}

#console    {
    width: 550px;
    height: 240px;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 10px;
    line-height: 20px;
    color: white;
    background: black;
    word-break: break-all;
}

#console p  {
    margin: 0;
}

.hidden {
    display: none;
}

.bar    {
    background: #E9F6FC;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 120px;
    width: 100%;
}

.product_middle  {
    width: 180px;
    height: 180px;
    margin: 0 0 10px 10px;
    position: relative;
    text-align: center;
}

.product_middle img  {
    max-width: 100%;
    max-height: 100%;
}

.product_middle .cover   {
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    height: 40%;
    background: black;
    background-color: rgba(0,0,0,0.6);
    opacity: 0.8;
}

.product_middle .tag_button {
    position: absolute;
    width: 45%;
    height: 60px;
    left: 5px;
    top: 15px;
    background: #f6c415;
    opacity: 0.8;
}
.product_middle:hover .delete_button{
    display:inline-block;
}

.product_middle .delete_button {
    display: none;
    position: absolute;
    width: 16px;
    height: 16px;
    bottom: 4px;
    right: 4px;
    opacity: 0.8;
    padding: 3px 4px 4px 4px;
    background-color: black;
    text-align: center;
}

.product_middle .delete_button:hover {
    opacity: 1.0;
}

.product_middle .save_button {
    position: absolute;
    width: 45%;
    height: 60px;
    left: 52%;
    top: 15px;
    background: #08c;
    opacity: 0.8;
}

.tag_button, .save_button   {
    cursor: pointer;
}

.product_middle .info   {
    margin: 4px;
    color: white;
    text-align: center;
}

.product_middle p   {
    margin: 3px;
    line-height: 18px;
}

.hide_detail .tag_button, .hide_detail .save_button  {
    display: none;
}

.product_small  {
    text-align: center;
    width: 85px;
    height: 85px;
    margin: 4px;
    border: 1px solid #cccccc;
}

.product_small img  {
    width: 100%;
    height: 100%;
}

.store  {
    width: 480px;
    height: 170px;
    border: 1px solid #cecccc;
    background: #f6f6f6;
    margin: 15px;
}

.store .info     {
    margin: 5px;
}
.store .info p  {
    margin: 0;
    line-height: 20px;
}

.ui-widget-header {
    background: none;
    border: 0;
}

.ui-dialog-titlebar-close .ui-icon   {
    left: -1px;
    top: -1px;
    background: url(../img/ui-icons_ffffff_256x240.png) no-repeat -96px -128px;
}

.ui-dialog-content  {
    overflow: visible!important;
}

.ui-dialog  {
    overflow: visible!important;
}

.combo_container    {
    position: relative;
}

.combo_input    {
    width: 317px!important;
    cursor: pointer;
}

.combo_select   {
    width: 320px;
    border: 1px solid #cecccc;
    padding: 6px 10px;
    border-radius: 3px;
    position: absolute;
    top: 40px;
    left: 0;
    background: #fff;
    z-index: 255;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.combo_container .block_submit  {
    width:50px;
    height:32px
}

.combo_container p  {
    margin: 0;
    padding: 6px;
    line-height: 22px;
    cursor: pointer;
}

.combo_container p:hover    {
    background: #08c;
    color: white;
}

.combo_container .selected  {
    background: #f72a6f;
    color: white;
}

.arrow    {
    position: absolute;
    left: 320px;
    top: 18px;
    cursor: pointer;
    border-top: 6px solid gray;
    border-left:6px solid transparent;
    border-right: 6px solid transparent;
}

.person_info    {
    margin-left: 15px;
}

.person_info .info   {
    border: 1px solid #cecccc;
    border-radius: 5px;
    padding: 12px;
    height: 80px;
    width: 400px;
}

.follow_area a  {
    color: #434343;
    font-size: 20px;
}

.profile_tag ul {
    border-bottom: 1px solid #ddd;
    height: 30px;
    margin: 20px 0;
}

.profile_tag li {
    margin: 3px 10px;
    font-size: 15px;
    padding: 4px 12px;
    height: 18px;
    background: white;
}

.profile_tag .selected  {
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.profile_tag .selected a    {
    color: #f72f72;
}

.following   {
    background: #cccccc;
    width: 100px!important;
}

.no_follow  {
    width: 60px!important;
}

/* some common reusable style */
.button {
    background: #aaa;
    display: inline-block;
    text-align: center;
    padding: 9px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 1;
    font-family: "Gibson","Helvetica",Arial,Verdana,sans-serif;
    letter-spacing: 1px;
    position: relative;
    cursor: pointer;
    border: none;
    outline: none;
    margin: 0;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
}

.button:hover, .button:focus {
    background-color: #0192dd;
    color: #fff;
    text-decoration: none;
}

.large.button {
    font-size: 18px;
    padding: 14px 30px 13px;
    width: auto;
}
.small.button {
    font-size: 13px;
    padding: 8px 15px;
    width: auto;
}

.button_primary {
    background-color: #0097d8;
}

.button_primary:hover, .button_primary:focus {
    background-color: #0073a5;
}

.button_buy {
    background-color: #3b8046;
}

.button_buy:hover, .button_buy:focus {
    background-color: #2b5d33;
}

.clearfix {
    overflow: hidden;
    clear: both;
}

.img_x30 {
    width: 30px;
    height: 30px;
}
.img_x45 {
    width: 45px;
    height: 45px;
}

.img_x90 {
    width: 90px;
    height: 90px;
}

.img_x120 {
    width: 120px;
    height: 120px;
}

/* product detail page style */
.container .inner_container {
    overflow: hidden;
    padding-bottom: 22px;
}
.container .product_show_triangle {
    clear: both;
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 16px solid rgb(255, 255, 255);
    margin-left: 20px;
}

.product_head_avatar {
    margin-right: 20px;
}

.product_head_info {
    width: 530px;
    line-height: 24px;
    margin-right: 20px;
    word-wrap: break-word;
}

.product_head_info .comment {
    font-size: 20px;
    margin-bottom: 5px;
}

.product_head_info .smaller {
    font-size: 14px;
    line-height: 1.5em;
}

.product_head_savers .savers_text {
    margin-bottom: 10px;
}

.editable {
    display: inline-block;
    position: relative;
}

.editable:hover .best_in_place {
    background-color: #90d8f4;
    cursor: pointer;
}

.edit_icon {
    visibility: hidden;
    display: none;
}

.editable .edit_icon {
    visibility: visible;
    background-color: #ccc;
    display: inline;
}

.editable:hover .edit_icon {
    background-color: black;
}

.product_show_title {
    margin: 10px 0;
}

.product_show_title h2 {
    display: inline;
    font-size: 24px;
    line-height: 28px;
    font-weight: normal;
}

.product_show_title h2.best_in_place:hover {
    background-color: #9dddf4;
    cursor: pointer;
}

.product_show_title input[type='text'] {
    width: 630px;
}

.product_show_poster {
    padding-top: 5px;
    font-size: 15px;
}

.product_show_image {
    width: 640px;
    text-align: center;
    margin: 18px 0;
    background-color: #F8F8F8;
}

.product_show_image img {
    max-width: 640px;
    max-height: 800px;
}

/* css for comment box and comments list*/
.product_show_comments {
    margin-top: 24px;
}

.submit_comment {
    padding-bottom: 20px;
    margin-bottom: 20px;
    width: 640px;
}

.submit_comment_avatar {
    margin-right: 10px;
}

.submit_comment_textarea textarea{
    line-height: 20px;
    width: 455px;
    height: 32px;
}

.submit_comment_actions {
    margin-left: 10px;
}

.submit_comment_actions input {
    background-color: #ccc;
    font-size: 18px;
    padding: 14px 25px 13px;
    width: auto;
}

.submit_comment_actions input:hover {
    background-color: #0073a5;
}

.comments_detail {
    overflow: hidden;
    margin-bottom: 15px;
    line-height: 20px;
}

.comments-detail-avatar {
    padding-top: 5px;
}

.comments_detail_content {
    margin-left: 20px;
    width: 575px;
}

.comments_detail_content a {
    color: #0097d8;
    text-decoration: none;
}

.comments_detail_content .comments_detail_content_body {
    max-width: 575px;
    line-height: 1.5em;
}

.comments_detail_content .comments_detail_content_extras {
    line-height: 10px;
}

.comments_detail_content .comments_detail_content_ago,
.comments_detail_content .comments_detail_content_delete a,
.comments_detail_content .comments_detail_content_report a {
    color: #c1c1c1;
    font-size: 11px;
    line-height: 11px;
}

.comments_show_more_btn {
    margin-top: 20px;
}
/* end: comment */

.products_show_right_pane {
    margin-left: 20px;
    margin-top: 20px;
}

.products_show_controls_save_btn .button,
.products_show_controls_buy_btn a.button,
.products_show_controls_tag_btn a.button {
    width: 102px;
    padding: 15px 20px;
    font-size: 22px;
}

.products_show_controls_save, .products_show_controls_buy, .products_show_controls_tag {
    overflow: hidden;
}

.products_show_controls_save_count_tag_left, .products_show_controls_buy_price_tag_left {
    margin-left: 3px;
    border-right: 13px solid red;
    border-bottom: 27px solid transparent;
    border-top: 27px solid transparent;
    height: 0;
    width: 0;
    float: left;
}

.products_show_controls_save_count_tag_left {
    border-right-color: #F5F4F4;
}

.products_show_controls_save_count_tag_right {
    background-color: #F5F4F4;
    color: #333;
}

.products_show_controls_buy_price_tag_left {
    border-right-color: #f3e077;
}

.products_show_controls_buy_price_tag_right {
    background-color: #f3e077;
    color: #333;
}

.products_show_controls_save_count_tag_right, .products_show_controls_buy_price_tag_right {
    float: left;
    min-width: 122px;
    height: 52px;
    font-size: 26px;
    text-align: center;
    line-height: 52px;
}

.products_show_controls_buy, .products_show_controls_tag {
    margin-top: 22px;
}

.products_show_controls_save_btn, .products_show_controls_buy_btn, .products_show_controls_tag_btn {
    float: left;
}

.products_show_controls_save_count_tag, .products_show_controls_buy_price_tag {
    float: left;
}

.products_show_controls_buy_price_tag_text input[type="text"] {
    width: 70px;
}

.products_show_more {
    margin-top: 75px;
}

.products_show_more_text {
    overflow: hidden;
    padding-bottom: 10px;
}
.products_show_more_from_col{
    margin-bottom: 50px;
}

.products_show_more_col_name {
    max-width: 270px;
}

.products_show_more_grid {
    width: 410px;
}

.products_show_more_grid img {
    margin-right: 12px;
    padding-bottom: 10px;
}

.products_show_more_store_follow {
    float: right;
    padding-right: 27px;
}

.products_show_more_store_follow .button {
    padding: 8px 30px;
    font-size: 13px;
    width: auto;
}

/* css for collection detail page */
.collection_show_header {
    padding-top: 5px;
    margin-bottom: 45px;
    border-bottom: 1px solid rgb(216, 216, 216);
    position: relative;
    overflow: hidden;
}

.products_grid {
    text-align: center;
}

#collection_show .products_grid {
    margin-left: -20px;
}

#collection_show .collection_show_info_username {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
}

#collection_show .collection_show_info_username a.username {
    margin-left: 5px;
}

#collection_show .collection_show_info_updated_at {
    font-size: 13px;
    color: rgb(204, 204, 204);
    font-weight: normal;
}

#collection_show .collection_show_info_header {
    clear: both;
    width: 580px;
}

#collection_show h1, #collection_show h1 form input {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 20px;
}

#collection_show .collection_show_info_header h1 .best_in_place form input {
    font-weight: bold;
    width: 400px;
    height: 40px;
}

#collection_show .collection_show_info_description .best_in_place form input {
    width: 420px;
}

#collection_show h1.editable {
    display: inline;
}

#collection_show .collection_show_info_desc_wrapper {
    margin: 10px 0;
}

#collection_show .collection_show_info_description {
    font-size: 18px;
    line-height: 24px;
    max-width: 575px;
}

.collection_show_info_description textarea {
    min-width: 270px;
    min-height: 21px;
    overflow: hidden;
}

.empty_message, .empty_message a {
    text-align: center;
    margin: 45px 0;
    font-size: 26px;
    line-height: 36px;
    font-weight: normal;
    color: #aaa;
}

.empty_message a {
    text-decoration: none;
    color: #0088CC;
}
/* end: collection detail page */

.dropdown   {
    position: relative;
}

.dropdown:hover .dropdown_list  {
    display: block;
}

.dropdown_list  {
    z-index: 200;
    position: absolute;
    display: none;
    left: -80px;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    background-clip: padding-box;
}

.arrow_down {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 3px;
    margin-bottom: 3px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #333;
}

.dropdown_list p    {
    margin: 0;
}

.dropdown_list a    {
    display: block;
    margin: 2px 20px;
    line-height: 30px;
    color: #333;
}

.dropdown_list a:hover  {
    color: #fff;
}

.dropdown_list p:hover  {
    background: #f72f72;
}

.dropdown_list:before  {
    content: ' ';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0,0,0,0.2);
    position: absolute;
    top: -7px;
    left: 90px;
}

.dropdown_list:after {
    content: ' ';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    position: absolute;
    top: -6px;
    left: 91px;
}

.profile_big img   {
    width: 190px;
    height: 190px;
}

.first_column   {
    width: 250px;
}

.second_column {
    margin-left: 100px;
}

.friend_block   {
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
    float: left;
    width: 100px;
    height: 140px;
}

.friend_block img  {
    width: 100px;
    height: 100px;
}

.friend_block p  {
    text-align: center;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f6f6f6;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 1px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

.centered {
    text-align: center;
}

#new_collection_modal input[type="text"] {
    width: 320px;
}

#new_collection_modal textarea {
    width: 320px;
    height: 30px;
}

/* css for store detail page */
.stores-show-home-link {
    font-size: 13px;
}

#stores-show .stores-show-header {
    padding-top: 25px;
    margin-bottom: 35px;
}

#stores-show .stores-show-info {
    width: 575px;
    float: left;
}

#stores-show .stores-show-info .stores-show-info-details {
    float: left;
    padding-left: 10px;
}

#stores-show .stores-show-info h1 {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: -4px;
}

#stores-show .stores-show-info h1 a {
    font-size: 32px;
    color: #434343;
}

#stores-show .stores-show-info .icon-share-alt{
    margin-top: 16px;
}

#stores-show .stores-show-info .stores-show-info-manager {
    font-size: 13px;
    color: #777;
}
/* end: css for store detail page */

/* start: niubsteel */

.result_table   {
    text-align: center;
    color: #333333;
}

.border_style   {
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.result_table thead {
    background: #ddd;
}

.result_table thead td  {
    padding: 8px 5px;
    font-size: 22px;
}

.result_item    {
    cursor: pointer;
    line-height: 30px;
}

.result_item:hover, .expanded  {
    background: #f72f72;
    color: #fff;
}

.result_item a {
    color: #333333;
}

.result_item a:hover    {
    color: #fff;
}



/* end */